:root {
    --color1: #271300;
    --color2: #ffbb00;
    --color2_hover: #8b6600;
    --main-container-color: #000000bb;
}
body {
    background-image: url(images/main_background.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}
@media (max-width: 991px) {
    body {
      background-position: -250px -100px;
      background-size: auto;
      background-attachment: left;
    }
}
@media (max-width: 500px) {
    #navbar-body {
        padding: 0.1rem
    }
    #navbar_container {
        padding-inline: 0.1rem;
    }
}
/*Navbar styles*/
#navbar-body {
    background-color: var(--color1);
    width:auto;
    padding: 0.3rem;
}
#navbar-logo {
    color: var(--color2);
    font-size: 1.5rem;
    font-family: Kavoon;
    padding: 5px;
    margin-right: 0%;
}
.navbar-nav {
    font-size: 20px;
    font-family: Kavoon;
    --bs-nav-link-color: var(--color2);
    --bs-nav-link-hover-color: var(--color2_hover);
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.navbar-toggler {
    box-sizing: content-box;
    padding: 0.1rem;
}
.navbar-toggler-icon {
    background-image: url(images/meow_toggle.svg);
    background-size: 1.5rem;
    margin-left: 0%;
    padding: 0%;
}
.nav-item {
    padding-inline: 30px;
}
/*Main container styles*/
.main_container {
    text-align: center;
    margin-top: 0;
    margin-inline: 10%;
    min-height: 1000px;
    padding: 5%;
    background-color: var(--main-container-color);
}
@media (max-width: 991px) {
    .main_container {
        margin-inline: 0;
    }
}
.heading_menu {
    font-size: 60;
    font-family: Kavoon;
    color: var(--color2)
}
.subgreeting {
    color: var(--color2);
    font-size: 20px;
    font-family: Kavoon;
    text-align: center;
    padding-block: 5%; 
}
@media (max-width: 991px) {
    .subgreeting {
        font-size: large;
    }
}
.stylised-text{
    color: var(--color2);
    font-family: Kavoon;
    text-align: center;
    font-size: 1.5rem;

}
.card {
    background-color: var(--color1);;
    color: var(--color2);
    font-family: Kavoon;
    min-height: 2.5rem;
}
.btn {
    background-color: var(--color2);
    color: var(--color1);
    --bs-btn-hover-bg: var(--color1);
    --bs-btn-hover-color: var(--color2);
    --bs-btn-border-color: var(--color2);
    --bs-btn-hover-border-color: var(--color2);
}
.accordion-button{
    background-color: var(--color1);
    color: var(--color2);
    font-family: Kavoon;
    font-size: large;
}
.accordion-item {
    background-color:#00000000;
    --bs-accordion-active-bg: var(--color1);
    --bs-accordion-active-color: var(--color2);
    --bs-accordion-border-color: var(--color2);
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem var(--color2_hover);
}
/*Carousel styles*/
.carousel-text {
    font-family: Kavoon;
    color: var(--color2);
    background-color: var(--main-container-color);
    bottom: 0;
    left: 0;
    width: 100%;
}
@media (max-width: 768px) {
    .carousel-text {
        font-family: Kavoon;
        font-size: larger;
        padding-inline: 10%;
        padding-block: 20%;
        color: var(--color2);
        background-color: var(--main-container-color);
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
    .carousel-heading {
        font-size: 2rem;
    }
}
#MenuCarousel {
    margin: 5%;
}
@media (max-width: 991px) {
    #MenuCarousel {
        margin-inline: 0;
    }
}
.menu-picture {
    min-height: 169px;
    min-width: 169px;
}
.menu-card {
    max-width: fit-content;
}
@media (max-width:768px) {
    .menu-card {
        min-height: fit-content;
        max-width: 400px;
    }
}
#back-btn {
    display: none;
    position: fixed;
    bottom: 3%;
    right: 6%;
    z-index: 99;
}
@media (min-width:900px) {
    #back-btn {
        bottom: 50%;
        right: 5%;
    }
}